parameters:
    level: 9
    paths:
        - .
    bootstrapFiles:
        - vendor/autoload.php
    excludePaths:
        - docker/*
        - vendor/*
        - var/*
        - templates/*
        - tests/*
        - composer-setup.php
