{% extends 'base.html.twig' %}

{% block pageTitle %}{{ 'Create invoice item' }}{% endblock %}

{% block body %}
    <div class="container">

        <div>
            <div class="row">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}