{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <h1>Create customer</h1>

        <div>
            <div class="row">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}